.Rproj.user
.Rhistory
.RData
*.DS_Store
*.log
references.bib
thesis/_book/thesis\.pdf

thesis/_book/thesis\.tex

thesis/thesis\.lol

thesis/_bookdown_files/

thesis/cover-letter-blx.bib

thesis/cover-letter.pdf

thesis/cover-letter.tex
