

div.container-fluid.main-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}

div#header {
  margin-bottom: 50px;
}

div#TOC {
  float: left;
  width: 25%;
  margin-top: 30px;
}

div#TOC ul {
  padding-left: 10px;
}

div.section {
  margin-left: 30%;
  max-width: 840px;
}

div.section.level4 {
  margin-left: 0;
}

div.section.level5 {
  margin-left: 0;
}

div#TOC ul li ul li {
  font-size: 0.85em;
}